[submodule "jorkdir"]
	path = jorkdir
	url = https://github.com/RixInGithub/jorkdir.git
[submodule "cwalk"]
	path = cwalk
	url = https://github.com/likle/cwalk.git
	branch = stable
[submodule "libnanoid"]
	path = libnanoid
	url = https://github.com/lukateras/libnanoid
