name: build appimage

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: build
              run: |
                  git submodule update --init --recursive
                  aria2c "https://github.com/AppImage/appimagetool/releases/download/continuous/appimagetool-x86_64.AppImage" -j 16 -x 16 -s 16
                  chmod +x appimagetool-x86_64.AppImage
                  sudo mv appimagetool-x86_64.AppImage /usr/local/bin/appimagetool
                  aria2c "https://github.com/WebAssembly/binaryen/releases/download/version_125/binaryen-version_125-x86_64-linux.tar.gz" -j 16 -x 16 -s 16
                  sudo tar --strip-components=1 -xzf binaryen-version_125-x86_64-linux.tar.gz -C /usr/local/
                  ./mkappimage
            - uses: actions/upload-artifact@v6.0.0
              with:
                  path: yargine.AppImage