name: build appimage

on:
    push
    pull_request

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: build
              run: |
                  git submodules --init --recursive
                  aria2c "https://github.com/AppImage/appimagetool/releases/download/continuous/appimagetool-x86_64.AppImage" -j 16 -x 16 -s 16
                  chmod +x appimagetool-x86_64.AppImage
                  sudo mv appimagetool-x86_64.AppImage /usr/local/bin/appimagetool
                  ./mkappimage
            - uses: actions/upload-artifact@v6.0.0
              with:
                  path: yargine.AppImage